extends ../layout/common

block content
  h1 Create user

  if errors
    each error in errors
     .alert.alert-danger= error

  form(action="/users/create", method="POST")
   .from-group
     label(for="name") Name
     input#name.form-control(name="name", type="text", value=values ? values.name : "")
   .from-group
     label(for="phone") Phone
     input#phone.form-control(name="phone",type="text" value=values ? values.phone : "")
     br
   button.btn.btn-primary Create