html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")   
  body
   nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/users') Dog
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
         span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
  .container.pt-5
    block content
